* {
    font-size: 25px;
}

p,
h1 {
    color: chocolate;
}

div {
    height: 500px;
    width: 300px;
}

.box {
    background-color: aquamarine;
}

#about {
    background-color: chartreuse;
}

.box2 {
    height: 500px;
    width: 500px;
    background-color: burlywood;
}

.box2>div>h1 {
    color: blue;
}

.box2>div>h1~p {
    color: red;
}